<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047562975691-4pj2bi613k0p9qo447et3nvd6uvm765k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047562975691-4pj2bi613k0p9qo447et3nvd6uvm765k</string>
	<key>API_KEY</key>
	<string>AIzaSyBYIroLL2RGEZ23n6SkRNkDgXSkKdZfYxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1047562975691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.umarket</string>
	<key>PROJECT_ID</key>
	<string>umarket-123ea</string>
	<key>STORAGE_BUCKET</key>
	<string>umarket-123ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047562975691:ios:c604211e0bea49a4419e4e</string>
</dict>
</plist>